{% extends "app/layout.html" %}

{% block content %}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="rtemplate">Restaurant Template</a></td>
            <td>123 Test</td>
            <td>Fresno</td>
            <td>CA</td>
            <td>93705</td>
         </tr>
    </tbody>
</table>

{% endblock %}